.info{
    height: 95%;
    width: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    z-index: 10;
}

.photo{
    height: 35%;
    width: 80%;
    border-radius: 3%;
}

.icons{
    height: 10%;
    width: 90%;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social{
    font-size: 5rem;
    cursor: pointer;
    transition: .2s ease-in-out;
    color: white;
}
.social:hover{
    /* transform: scale(1.2); */
    animation: fastPulse;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.decorations{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    height: 45%;
}