.info{
    height: 95%;
    width: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    z-index: 10;
}

.photo{
    height: 35%;
    width: 80%;
    border-radius: 3%;
}

.icons{
    height: 10%;
    width: 90%;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social{
    font-size: 5rem;
    cursor: pointer;
    transition: .2s ease-in-out;
    color: white;
}
.social:hover{
    animation: fastPulse;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.skills{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 10px;
    height: 45%;
    padding: 10px;
    overflow-y: auto;
    background: radial-gradient(circle at 300px 700px, rgba(128, 128, 128, 0.9), rgba(0, 0, 0, 0.8));
    backdrop-filter: blur(10px);
    overflow: auto;
}

.skill-item {
    margin: 9px;
    width: 6rem;
    height: 6rem;
}

.info > .download-btn {
    display: none;
}

@media (max-width: 450px) {
.info {
        height: 95%;
        width: 20%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: em;
        z-index: 10;
    }

    .photo {
        height: 15%;
        width: 90%;
        border-radius: 5%;
    }

    .icons {
        height: 10%;
        width: 100%;
        margin-top: .3em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .social {
        font-size: 1.1rem;
        transition: .2s ease-in-out;
        color: white;
    }

    .skills {
        width: 80%;
        height: 60%;
        padding: .1rem;
        flex-direction: column;
        overflow: auto;
    }

    .skill-item{
        height: 1rem;
        width: 2rem;
    }

    .info > .download-btn {
        display: flex;
        width: 100%;
        font-size: .5rem;
        align-items: center;
        margin-left: 2px;
        animation: fadeIn;
        animation-duration: .2s;
        animation-timing-function: ease-in-out;
    }
}
