.info{
    height: 95%;
    width: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    z-index: 10;
}

.photo{
    height: 35%;
    width: 80%;
    border-radius: 3%;
}

.icons{
    height: 10%;
    width: 90%;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social{
    font-size: 5rem;
    cursor: pointer;
    transition: .2s ease-in-out;
    color: white;
}
.social:hover{
    animation: fastPulse;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* .skills{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 10px;
    height: 45%;
    padding: 10px;
    overflow-y: auto;
    background: radial-gradient(circle at 300px 700px, rgba(128, 128, 128, 0.9), rgba(0, 0, 0, 0.8));
    backdrop-filter: blur(10px);
}

.skill-item {
    margin: 9px;
    width: 6rem;
    height: 6rem;
} */

.info > .download-btn {
    display: none;
}

@media (max-width: 450px) {
.info {
        height: 30%;
        width: 90%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        padding-top: 0rem;
    }

    .photo {
        height: 60%;
        width: 45%;
        margin-top: 1rem;
    }

    .icons {
        height: 10%;
        width: 55%;
        margin-top: .7em;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .social {
        font-size: 1.6rem;
        transition: .2s ease-in-out;
        color: white;
    }

    /* .skills {
        display: none;
        width: 100%;
        height: 20%;
        flex-direction: column;
        margin-top: .4rem;
    }

    .skill-item{
        height: 20px;
        width: 14px;
    } */

    .info > .download-btn {
        display: flex;
        width: 50%;
        height: 10%;
        font-size: .5rem;
        align-items: center;
        margin-left: 2px;
        margin-bottom: 5px;
        animation: fadeIn;
        animation-duration: .2s;
        animation-timing-function: ease-in-out;
    }
}
