form{
    height: 75%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    background: radial-gradient(circle at 300px 700px, rgba(128, 128, 128, 0.9), rgba(0, 0, 0, 0.8));
    border: 1px solid gray;
}
form>input{
    height:5%;
    min-width: 40%;
    max-width: fit-content;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1.7rem;
    font-family: Poppins;
    text-shadow: 1px 1px 1px black;
}
form>textarea{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    max-width: 85%;
    max-height: 50%;
    min-height: 20%;
    min-width: 60%;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-family: Poppins;
    text-shadow: 1px 1px 1px black;
}
form>button{
    background-color: black;
    border: none;
    border-radius: 20px;
    width: 20%;
    transition: .3s ease-in-out;
    height: 5%;
    color: white;
    font-family: Poppins;
}
form>button:hover{
    background-color: lime;
    cursor: pointer;
    color: black;
    transform: scale(1.1);
}

.contact{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.contact-header{
    display: flex;
    flex-direction: column;
}

.contact-header>h2{
    margin-top: -20px;
    margin-bottom: -10px;
}

@media (max-width: 450px) {
    form {
        height: 75%;
        width: 100%;
    }

    form>input {
        height: 5%;
        min-width: 20%;
        max-width: fit-content;
        text-align: center;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        font-size: .7rem;
        font-family: Poppins;
    }

    form>textarea {
        font-size: .7rem;
        height: 30%;
        width: 90%;
        padding: 1rem;
    }

    form>button {
        width: 30%;
        height: 5%;
    }

    .contact {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .contact-header > h1 {
        font-size: 1rem;
    }

    .contact-header>h2 {
        margin-top: -20px;
        margin-bottom: -10px;
        font-size: .8rem;
    }

    .contact-header>h4{
        font-size: .6rem;
    }

    .contact-header {
        line-height: 1.1;
        gap: 1rem;
    }
}