.home{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    overflow: auto;
}

.home-ctn{
    display: flex;
    flex-direction: row;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 75%;
    line-height: .9;
    gap: 12px;
}

.header>h1{
    margin-bottom: -15px;
}

.summary-ctn{
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.summary-ctn>h2{
    font-size: 1.2rem;
}

.summary-ctn>h2>span{
    font-style: italic;
    color: lime;
}

.location{
    display: flex;
    align-items: center;
    justify-content: left;
}
.location>h3{
    margin-left: 5px;
}

@media (max-width: 768px) {
    .home {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        overflow: auto;
    }
    
    .home-ctn {
        display: flex;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        width: 75%;
        text-wrap: balance;
    }
    
    .header>h1 {
        margin-bottom: -15px;
        font-size: 1rem;
    }

    .summary-ctn {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .summary-ctn>h2 {
        font-size: .8rem;
    }

    .summary-ctn>h2>span {
        font-style: italic;
        color: lime;
    }

    .location {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .location>h3 {
        margin-left: .2rem;
        font-size: .7rem;
    }

    .ripple{
        font-size: .7rem;
    }
}