.home{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    overflow: auto;
}

.home-ctn{
    display: flex;
    flex-direction: row;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 75%;
    line-height: .9;
    gap: 12px;
}

.header>h1{
    margin-bottom: -15px;
}

.summary-ctn{
    width: 95%;
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: auto;
}

.summary-ctn>h2{
    font-size: 1.2rem;
}

.location{
    display: flex;
    align-items: center;
    justify-content: left;
}
.location>h3{
    margin-left: 5px;
}

.home-ctns{
    border: 1px solid gray;
    width: 45%;
    background: radial-gradient(circle at 300px 700px, rgba(128, 128, 128, 0.9), rgba(0, 0, 0, 0.8));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech{
    border: 1px solid white;
    height: 80%;
    width: 95%;
    display: grid;
    
}

/* MEDIA QUERY ========================================= */
@media (max-width: 768px) {
    .home {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        overflow: auto;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        width: 90%;
        text-wrap: balance;
    }
    
    .header>h1 {
        margin-bottom: -15px;
        font-size: 1rem;
    }

    .summary-ctn {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        border: 1px solid white;
    }

    .summary-ctn>h2 {
        font-size: .8rem;
    }

    .location {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .location>h3 {
        margin-left: .2rem;
        font-size: .7rem;
    }

    .ripple{
        font-size: .7rem;
    }
}