.right-ctn {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    height: 80vh;
    width: 40vw;
    align-items: center;
    justify-content: center;
}

.skills{
    height: 40%;
    width: 40%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideInRight;
    animation-duration: 1s;
}