.top-bar{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 1em;
    position: relative;
}

.link-ctn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}

.link{
    background-clip: text;
    color: white;
    cursor: pointer;
    font-size: .5rem;
    cursor: pointer;
    transition: .2s ease-in-out;
    text-decoration: none;
}

.link:hover{
    transform: scale(1.2);
    color: white;
}