.top-bar{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 1em;
    position: relative;
    background-color: transparent;
    z-index: 10;
    color: white;
}

.link-ctn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    border-bottom: 1px solid white;
}

.link{
    background-clip: text;
    color: white;
    cursor: pointer;
    font-size: .5rem;
    transition: .1s ease-in-out;
    text-decoration: none;
}

@media (max-width: 768px) {
    .top-bar {
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1em;
        position: relative;
        background-color: black;
        z-index: 10;
        color: white;
        border-bottom: 1px solid white;
    }

    .link-ctn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
}