.projects{
    color: white;
    overflow-y: auto;
    font-family: Poppins;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.project-card{
    display: flex;
    align-items: left;
    flex-direction: column;
    min-height: 70%;
    height: 80%;
    width: 40%;
    font-size: .9rem;
    background: radial-gradient(circle at 200px 1200px,gray, transparent);
    border-radius: 10px;
    margin-top: 50px;
    border: 1px solid gray;
    backdrop-filter: blur(5px);
    margin-left: 2rem;
    padding: 1.25rem;
    justify-content: space-between;
}

.github{
    font-family: Poppins;
    width: 20%;
    height: 6%;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: .3s ease-in-out;
    text-decoration: none;
    color: black;
}
.github:hover{
    background-color: lime;
}
.logo{
    margin-right: 10px;
}

.tech-icons {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
}

.tech-icons svg {
    width: 50px;
    height: 50px;
}

.tech-icons span {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.spring-boot{
    color: green;
}

.expressjs{
    font-size: 50px;
    color: green;
    text-shadow: -1px -1px 0px black;
}

.project-card>a>button{
    font-family: Poppins;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 450px) {

    .projects{
        width: 100%;
        margin-left: -1.2rem;
    }

    .project-card {
        display: flex;
        align-items: left;
        flex-direction: column;
        min-height: fit-content;
        width: 100%;
        font-size: .7rem;
        padding: .4rem;
        line-height: 1.4;
        margin-top: .5rem;
    }

    .github {
        font-family: Poppins;
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        margin-left: 5px;
    }
    .logo {
        margin-right: 0;
    }

    .tech-icons {
        gap: .6rem;
        height: fit-content;
    }

    .tech-icons svg {
        width: 2rem;
        height: 2rem;
    }

    .expressjs {
        font-size: 1rem;
        color: green;
        text-shadow: -1px -1px 0px black;
    }

    .project-card>a>button {
        font-family: Poppins;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }
}