html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#root{
    --peach: #ffd9daff;
    --pink: #ea638cff;
    --dark-red: #89023eff;
    --gunmetal: #30343fff;
    --black: #1b2021ff;
}

@keyframes slideInLeft{ 
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight{
    from {
        transform: translateX(200%);
        opacity: 0;
    }

    to {
        transform: translateX(100);
        opacity: 1;
    }
}