@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

#root{
    --peach: #ffd9daff;
    --pink: #ea638cff;
    --dark-red: #89023eff;
    --gunmetal: #30343fff;
    --black: #1b2021ff;
    --light-purple: rgb(202, 0, 202);
}

@keyframes slideInLeft{ 
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight{
    from {
        transform: translateX(200%);
        opacity: 0;
    }

    to {
        transform: translateX(100);
        opacity: 1;
    }
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {}

    50% {
        scale: 1.5;
        border-radius: 5%;
    }

    100% {
        border-radius: 50%;
        transform: rotate(360deg);
    }
}

.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: -10;
    overflow: hidden;
    background-color: black;
}

/* .text-grad{
    background: linear-gradient(goldenrod, var(--light-purple) 90%);
    background-clip: text;
    color: transparent;
} */

.decoration {
    height: 1200px;
    width: 1200px;
    border-radius: 10px;
    animation: pulse;
    animation-duration: 120s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.decoration1 {
    background: radial-gradient(circle at -5% 15%, orange, rgb(255, 115, 0) 40%);
    position: fixed;
    margin-left: -1110px;
    margin-top: 290px;
}

.decoration2 {
    background: linear-gradient(purple, blue);
    position: fixed;
}

.decoration3 {
    background: radial-gradient(circle at -5% 15%, rgb(170, 101, 170), purple 40%);
    position: fixed;
    margin-left: 1810px;
    margin-top: -290px;
}

.pages{
    animation: fadeIn;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
    background-color: transparent;
    z-index: 10;
    /* border: 1px solid white; */
    width: 75%;
    height: 100%;
}

.routes-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 94%;
    color: white;
    background-color: transparent;
    z-index: 10;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

@keyframes fastPulse {
    100% {
        scale: 1.1;
    }
}